@{
    ViewBag.Title = "Home Page";
}


<style>
   
    .container
    {
        margin-left:150px;
        margin-bottom:0px;
    }
    .carousel-content {
        color: black;
        display: flex;
        text-align: center;
    }

    .carousel-inner {
        width: auto;
        height: 100%;
        max-height: 100% !important;

    }
</style>

<div class="container px-4">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-content">
                    <div style="margin: 0 auto">
                        <p>
                            <img src="~/Images/4.jpg"
                                 style="width: 848px;height: 500px" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-content">
                    <div style="margin: 0 auto">


                        <p>
                            <img src="~/Images/2.jpg"
                                 style="width: 848px;height: 500px" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-content">
                    <div style="margin: 0 auto">


                        <p>
                            <img src="~/Images/1.jpg"
                                 style="width: 848px;height: 500px" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-content">
                    <div style="margin: 0 auto">
                        <p>
                            <img src="~/Images/3.jpg"
                                 style="width: 848px;height: 500px" />
                        </p>
                    </div>
                </div>
            </div>
   </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"> Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="text-center">
        <h3>
            <a href="~/Appointment/GetProduct" class="btn btn-primary center-block glyphicon-text-background"> Book Your Appointment Now->>></a>
        </h3>
    </div>
</div>

